<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Database.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ReactiveFirebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReactiveFirebaseAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReactiveFirebaseDatabase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReactiveFirebaseStorage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Storage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2002D09D1E0D8DEB005122AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A92B41E0244A6006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A92C51E0244D9006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A92D61E02472B006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A92E71E02474B006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A92F91E0248FB006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A93061E024900006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A93131E024905006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A93241E02F0AC006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A93311E02F0B1006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A933E1E02F0B5006597AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
